@import "tailwindcss";

:root {
  --background: #e4f2ff;
  --foreground: #171717;
  --primary: #007aff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-general-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.element-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.02);
}
